@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


/*Input Buttons----------*/

.input-label {
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
}

.input-custom {
    height: 16px;
    width: 16px;
    margin-left: 8px;
}


/*General classes----------*/

.center {
    margin: auto;
    width: 60%;

}

/*Header----------*/

.page-header {
    height: auto;
    width: 100%;
    background-color: #0f135a;
    border: 0;
}

.header-text {
    color: #fafafa;
    font-size: 3.5em;
    font-family: 'Permanent Marker', cursive;
    margin-top: 15px;
    margin-bottom: 10px;
}




/*Intro----------*/

.intro-header {
    font-size: 2.0em;
    margin-top: 20px;

}

.intro-text {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.intro-icons {
    color: #0f135a;
    font-size: 40px;
    margin-right: 20px;
    margin-top: 30px;
}

.center-intro {
    width: 90%;
    margin: 0 auto;
}



/*Map----------*/

.center-map {
    margin: auto;
    width: 80%;
}

table {
    font-size: 12px;
}

#reset-button{
    background-color: #484a76;
    margin: 15px auto;
    margin-bottom: 0px;
    color:#fafafa;
    font-weight:bold;
    border: groove;
    border-radius: 3px;
}

#listing {
    height: 500px;
    margin-top: 25px;
    margin-left: -30px;
    overflow: auto;
    cursor: pointer;
    overflow-x: hidden;
}


#locationField {
    width: 200px;
    top: 0px;
    margin: 0 auto;
}

#country {
    margin-top: 25px;
    margin-bottom: 25px;
}

#controls {
    width: 140px;
    margin: 0 auto;
}

#autocomplete {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#placestoggle {
    text-align: center;
    margin: 0 auto;

}

#places {
    margin-top: 25px;
    display: inline-block;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.hotelIcon {
    width: 24px;
    height: 24px;
}

#resultsTable {
    border-collapse: collapse;
    width: 240px;
}

#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}



.map-container {
    background-image: url("../img/city-night.jpg");
    background-size: cover;
}

#map {
    height: 500px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 25px;
}



/*Destinations Tips----------*/

.video-header {
    color: #fafafa;
    margin-top: 30px;
}

.video-text {
    color: #fafafa;
}

.video-container {
    background-color: #0f135a;
}

.video-players {
    height: 400px;
    margin-top: 30px;
    margin-bottom: 40px;
    border:none;


}


/*---------Destinations Tips*/

/*Contact----------*/

.contact-header {
    margin-top: 20px;
}

.contact-text {
    font-size: 1.3em;
}

.form-control {
    width: 60%;
    margin: 0 auto;
}

.button-submit {
    background-color: #16359e;
    margin-top: 16px;
    margin-bottom: 16px;
    border: none;
}

.button-submit:hover {
    background-color: #132948;
}



/*Footer----------*/

.footer {
    background-color: #0f135a;
}

.footer-text {
    color: #fafafa;
    margin-top: 10px;

}



/*Media Queries----------*/

@media (max-width: 766px) {

    /*Intro Queries----------*/
    .header-text {
        color: #fafafa;
        font-size: 2.8em;
        font-family: 'Permanent Marker', cursive;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .intro-header {
        font-size: 1.7em;

    }

    .intro-text {
        font-size: 1.0em;

    }

    .intro-icons {
        font-size: 30px;
    }


    /*Map Queries----------*/
   
   
    .center-map {
        margin: 0 auto;
        
    }

    #map {
        height: 300px;
        width: 100%;
        margin:0 auto;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
    #listing {
    display: none;
}


    /*Video Queries----------*/
    .video-header {
        color: #fafafa;
        font-size: 1.7em;
        margin-top: 20px;
    }
    .video-text {
        color: #fafafa;
        font-size: 0.8em;
        margin-top: 20px;
    }

    .video-container {
        background-color: #0f135a;
    }

    .video-players {
        height: 250px;
        margin-top: 20px;
        margin-bottom: 30px;

    }

    .center {
        margin: auto;
        width: 99%;

    }


   
    /*Contact Queries----------*/
    .contact-header {
        margin-top: 15px;
        font-size: 1.8em;
    }
    .contact-text {
        font-size: 1.0em;
    }

    .form-control {
        width: 85%;
        margin: 0 auto;
    }


}

@media (min-width: 767px) and (max-width: 1024px) {

    /*Intro Queries----------*/
    .center-intro {
        margin: 0 auto;
    }

    .intro-header {
        font-size: 1.4em;

    }

    .intro-text {
        font-size: 1.0em;

    }

    .intro-icons {
        font-size: 30px;
    }

    /*Map Queries----------*/
    #map {
        height: 400px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-top: 50px;
    }
  
    #listing {
    height: 400px;
    margin-top: 50px;
    margin-left: -30px;
    overflow: auto;
    cursor: pointer;
    overflow-x: hidden;
}

    /*Video Queries----------*/
    .video-header {
        color: #fafafa;
        font-size: 1.7em;
        margin-top: 20px;
    }
    .video-text {
        color: #fafafa;
        font-size: 0.8em;
        margin-top: 20px;
    }

    .video-container {
        background-color: #0f135a;
    }

    .video-players {
        height: 280px;
        margin-top: 20px;
        margin-bottom: 30px;

    }

    .center {
        margin: auto;
        width: 80%;

    }


    /*Contact Queries----------*/
    .contact-header {
        margin-top: 15px;
        font-size: 1.8em;
    }
    .contact-text {
        font-size: 1.0em;
    }

    .form-control {
        width: 85%;
        margin: 0 auto;
    }

}

/*---------Media Queries*/
